.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.button {
  position: absolute;
  width: 1100px;
  left: 0;
  top: 310px;
  text-align: center;
  opacity: 0;
}

.button a {
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

.col-image-rec {
  width: 640px;
  height: 320px;
}

.col-image-sq {
  width: 512px;
  height: 320px;
}

@media (max-width: 768px) {
  .col-image-rec {
    width: 480px;
    height: 240px;
  }

  .col-image-sq {
    width: 384px;
    height: 240px;
  }
  .button {
    width: 670px;
    top: 233px;
  }
}

@media (max-width: 425px) {
  .col-image-rec {
    width: 268px;
    height: 134px;
  }

  .col-image-sq {
    width: 214px;
    height: 134px;
  }

  .button {
    width: 370px;
    top: 129px;
  }
}
