.btn {
  background-color: #ef7326;
  color: white;
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 35px;
  outline: none;
  border: none;
  text-decoration: none;


  &:hover {
    color: white;
    text-decoration: none;
  }
}

@media(max-width: 768px) {
  .btn {
    font-size: 30px;
  }
}
